body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.holder{
  max-width: 960px;
  margin: 0 auto;
}

h2{
  color: #4caebb;
  font-weight:400;
}

.encabezado {
  display: inline-flex;
  padding-left: 0px;
}

.empresa {
  display: inline-flex;
  padding-left: 20px;
}